.odd {
    background-color: #ffc0cb;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.font-24 {
    font-size: 24px;
}

#second {
    color: hsl(240, 100%, 50%);
    font-size: 36px
}

#fourth {
    background-color: #90ee90;
    font-weight: bold;
}